@charset "utf-8";

// Header

.header {
  z-index: $z-header;
  // position: absolute;
  position: fixed;
  top: 70px;
  width: 100%;
  height: 98px;
  // min-width: $ly-min-width;
  background-color: transparent;

  &.sticky {
    top: 0;
    background-color: #171717;
  }

  .header-grid {
    //1480 - 1920 맞추는 용도
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    width: 100%;
    height: 100%;
    min-width: 1140px;
    max-width: $ly-max-width;
    margin: 0 auto;
    padding: 0 80px;
    box-sizing: border-box;
  }

  .header-container {
    // 로고 + 네비게이션 묶는 용도
    @include flexbox;
    @include align-items(flex-end);
  }

  .header-logo {
    position: relative;
    width: 180px;
    height: 30px;
    margin-right: 50px;
    text-indent: -999px;
    background-image: url(#{$path-image}logo-damu.png);
    background-size: 180px 29px;
    background-repeat: no-repeat;

    &:after {
      position: absolute;
      bottom: -13px;
      left: -3px;
      display: block;
      width: 185px;
      height: 3px;
      background-color: #fff;
      content: "";
    }

    a {
      display: block;
      width: 100%;
      height: 100%;

      &:focus {
        outline: 0;
        background: none;
      }
    }
  }

  .header-navigation {
    @include flexbox;
    @include align-items(center);

    li {
      margin-left: 32px;

      &:first-child {
        margin-left: 0;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 12px;
        @include font-sub(800);
        color: #fff;
        text-transform: uppercase;

        &:visited,
        &:active {
          color: #fff;
        }

        //TODO: 임시 효과
        &:hover {
          opacity: 0.6;
        }

        //TODO: 임시 효과
        &:focus {
          outline: 0;
          background: none;
        }
      }
    }
  } //end of .header-navigation

  .header-download {
    //회사소개서 다운로드 위치 변경
    //(어바웃 섹션 내)
  } //end of .header-download
}
