@charset "utf-8";

// Header

.header {
  z-index: $z-header;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  max-width: 1920px;
  padding: 0 80px;
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  box-sizing: border-box;

  .header-container {
    // 로고 + 네비게이션 묶는 용도
    @include flexbox;
  }

  .header-logo {
    margin-right: 50px;
  }

  .header-navigation {
    @include flexbox;
    @include align-items(center);

    li {
      margin-left: 32px;

      &:first-child {
        margin-left: 0;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 12px;
        @include font-sub(800);
        color: #fff;
        text-transform: uppercase;

        &:visited,
        &:active {
          color: #fff;
        }

        //TODO: 임시 효과
        &:hover {
          opacity: 0.6;
        }

        //TODO: 임시 효과
        &:focus {
          outline: 0;
          opacity: 0.6;
        }
      }
    }
  } //end of .header-navigation

  .header-download {
    .download-introduction {
      padding-bottom: 10px;
      color: #fff;
      font-size: 14px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);

      &:visited,
      &:active {
        color: #fff;
      }

      //TODO: 임시 효과
      &:hover {
        opacity: 0.6;
      }

      //TODO: 임시 효과
      &:focus {
        outline: 0;
        opacity: 0.6;
      }
    }
  } //end of .header-download
}
