@charset "utf-8";

// About

.section.about {
  overflow-x: hidden;
  padding-top: 94px;
  min-width: 1480px;
  position: relative;

  h2 {
    position: absolute;
    left: -999px;
  }
}

//상단 화살표로 넘겨보기 영역
.about-story {
  position: relative;
  max-width: 100%;
  overflow: hidden;

  .about-story-container {
    position: relative;
    max-width: 1480px;
    height: 380px;
    padding-left: 324px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
  } //end of .about-story-container

  .about-story-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background-color: #000;
    box-sizing: border-box;
    border-radius: 50%;
    @include text-hidden;

    .text-alt {
      visibility: hidden;
      width: 0px;
      height: 0px;
      opacity: 0;
      position: absolute;
      left: -999px;
    }

    .svg {
      display: block;
      width: 50px;
      height: 14px;
      margin: 0 auto;
    }

    &:hover {
      background-color: #fff;
      border: 4px solid #323232;

      .svg {
        .cls-1 {
          fill: #323232;
        }
      }
    }

    &:focus {
      outline: 0;
    }
  } //end of .about-story-button

  .about-slide-line {
    position: absolute;
    top: 151px;
    left: 324px;
    width: 1400px;
    height: 4px;
    content: "";
    background-color: #f1f1f1;

    & > span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      width: 0;
      background-color: #000;

      &.damu {
        width: 346px;
        transition: width 0.6s;
      }

      &.dsc {
        width: 196px;
        transition: width 0.6s;
      }

      &.proz {
        width: 296px;
        transition: width 0.6s;
      }
    }
  } //end of .about-slide-line

  .about-slide {
    &.about-slide-dsc,
    &.about-slide-proz {
      display: none;
    }
  }

  .logo {
    opacity: 0;
    transform: translateX(-30px);
    position: relative;
    overflow: hidden;
    display: block;
    height: 80px;
    margin-top: 45px;
    margin-bottom: 110px;
    text-indent: -999px;
    background-size: 100% 100%;

    &[data-logo="damu"] {
      @include bgi("logo-damu");
      background-size: 340px 55px;
    }

    &[data-logo="dsc"] {
      @include bgi("logo-dsc");
      background-size: 191px 68px;
    }

    &[data-logo="proz"] {
      @include bgi("logo-proz-dark");
      background-size: 293px 78px;
    }

    &.updated {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.5s, transform 0.5s;
    }
  } //end of logo

  .story-text-list {
    opacity: 0;
    transform: translateY(30px);
    position: absolute;
    top: 240px;
    left: 324px;
    @include flexbox;

    &.updated {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.5s, transform 0.5s;
    }

    li {
      position: relative;
      // @include flex-grow(1);
      // min-width: 200px;
      margin-left: 100px; //기존 60px

      &:first-child {
        margin-left: 20px;
      }

      &:before {
        position: absolute;
        top: -18px;
        left: -16px;
        display: block;
        width: 31px;
        height: 31px;
        content: "";
        background-color: #eee;
        border-radius: 50%;
      }

      &:after {
        position: absolute;
        top: -17px;
        left: -20px;
        display: block;
        @include font-sub(800);
        color: #333;
        font-size: 13px;
        letter-spacing: -1px;
        content: attr(data-order);
      }

      &.list-hide {
        visibility: hidden;
        opacity: 0;
      }
    }

    strong {
      z-index: $z-about-story-title;
      position: relative;
      font-weight: $fw-eb;
      display: block;
      font-size: 20px;
    }

    p {
      margin-top: 24px;
      font-size: 16px;
      line-height: 1.4;
    }
  }
} //end of .about-story

//하단 설명 영역
.about-all {
  position: relative;
  width: 820px;
  margin: 0 auto;
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  margin-top: 240px;
  padding-bottom: 280px;

  .text-container {
    width: 100%;
  }

  .text-kor {
    font-size: 28px;
    font-weight: $fw-b;
    line-height: 1.9;
    margin-bottom: 60px;

    .accent {
      position: relative;
      font-weight: 600;

      i {
        display: block;
        z-index: -1;
        position: absolute;
        bottom: 2px;
        left: 0;
        height: 8px;
        background-color: #ffd0d0;
        content: "";

        opacity: 0;
        width: 0;
      }

      &.item-show {
        i {
          opacity: 1;

          width: 178px;
          transition: width 0.5s;
          transition-delay: 1.1s;
        }
      }
    }
  }

  .text-eng {
    width: 100%;
    font-size: 15px;
    line-height: 1.8;
    @include font-sub(400);
  }

  .about-all-pic {
    //하단 이미지 영역
    position: relative;
    @include flexbox;
    margin-top: 222px;
    margin-left: 28px;

    .title {
      position: relative;
      display: block;

      .title-text {
        // 타이틀 텍스트
        z-index: $z-about-all-title;
        display: block;
        position: relative;
        width: 190px;
        height: 40px;
        color: #fff;
        font-size: 14px;
        text-align: center;
        line-height: 40px;
        text-transform: uppercase;
        @include font-sub(800);
        background-color: #000;

        i {
          // 타이틀 아래 주황색 선
          position: absolute;
          top: 100%;
          left: 0;
          display: block;
          width: 100%;
          height: 8px;
          margin-top: 5px;
          background-color: #ffd0d0;
          opacity: 0;
          width: 0;
        }

        &.item-show {
          i {
            opacity: 1;
            width: 100%;
            transition: width 0.5s;
          }
          .line-1 {
            transition-delay: 1.6s; //(1.1s + 0.5s)
          }
          .line-2 {
            transition-delay: 2.1s; //(1.5s + 0.6s)
          }
        }
      } //end of .title-text

      &:before {
        //회색 원
        position: absolute;
        top: -238px;
        left: 50%;
        display: block;
        width: 350px;
        height: 350px;
        content: "";
        background-color: rgba(17, 14, 10, 0.04);
        border-radius: 50%;
        transform: translateX(-50%);
        @include pointer-none;
      }

      &:after {
        //라인 이미지
        position: absolute;
        background-repeat: no-repeat;
        content: "";
      }

      &.title-diversity:after {
        // diversity의 라인 이미지
        width: 160px;
        height: 138px;
        top: -160px;
        left: 14px;
        background-image: url(#{$path-image}deco-diversity.svg);
      }

      &.title-collaboration:after {
        // collaboration 라인 이미지
        width: 184px;
        height: 184px;
        top: -174px;
        left: 14px;
        background-image: url(#{$path-image}deco-collaboration.png);
        //svg export시 선이 깨지는 문제 때문에 png로 대체
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      .title-logo {
        display: block;
        text-indent: -9999px;
        overflow: hidden;
        width: 200px;

        .logo-image {
          position: absolute;
          top: -76px;
          left: 24px;
          display: block;
          width: 156px;
          height: 25px;
          content: "";
          background-image: url(#{$path-image}logo-damu.png);
          background-size: 100%;
          background-repeat: no-repeat;
        }

        &:after {
        }
      } //end of .title-logo
    } //end of .title

    .sign {
      position: relative;
      margin: 0 48px;
      width: 22px;

      &:after {
        position: absolute;
        top: -70px;
        left: 0px;
        display: block;
        width: 22px;
        height: 22px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        content: "";
      }

      &.sign-plus:after {
        background-image: url(#{$path-image}icon-sign-plus.png);
      }

      &.sign-equal:after {
        left: 2px;
        background-image: url(#{$path-image}icon-sign-equal.svg);
      }

      .sign-text {
        display: block;
        text-indent: -9999px;
        overflow-x: hidden;
      }
    }
  } //end of .about-all-pic

  .deco-container {
    position: absolute;
    top: 86px;
    left: 770px;
    width: 500px;
    height: 500px;
    // outline: 3px solid red;
    @include select-none;
    @include pointer-none;
  }

  .deco-icon-diversity {
    position: absolute;
    top: -12px;
    left: -343px;
    width: 251px;
    height: 216px;
    background-image: url(#{$path-image}deco-diversity-big.png);
  }

  .deco-icon-collaboration {
    animation: shape 1s linear infinite;
    width: 291px;
    height: 291px;
    transition: all 1s;
    background-image: url(#{$path-image}deco-collaboration-big.png);
  }

  .download-introduction {
    display: block;
    position: absolute;
    bottom: 96px;
    left: 50%;
    width: 240px;
    height: 60px;
    margin-left: 14px;
    color: #000;
    font-size: 18px;
    font-weight: $fw-b;
    text-align: center;
    line-height: 60px;
    border-radius: 40px;
    border: 2px solid #7f7f7f;
    transform: translateX(-50%);

    &:hover {
      //버튼 호버 효과
      color: #fff;
      background-color: #404040;
      border-color: #404040;
    }

    &:focus {
      outline: 0;
    }
  }
} //end of .about-all
