@charset "utf-8";

// Notice
.section.notice {
  min-width: $ly-min-width;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  padding: 142px 0 136px;
  background-color: #000;
  @include bgi("bg-notice");
  background-repeat: repeat-y;
  background-position: 50% 50%;

  .notice-title {
    position: relative;
    display: block;
    margin-bottom: 70px;
    color: #fff;
    @include font-sub(800);
    text-transform: uppercase;
    font-size: 59px;

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 320px;
      height: 9px;
      background-color: #f9fafa;
      content: "";
    }

    &:after {
      position: absolute;
      display: block;
      bottom: 10px;
      right: -114px;
      width: 19px;
      height: 27px;
      @include bgi("icon-quotes");
      content: "";
    }
  }

  .notice-container {
    //그누보드 영역
    width: 1200px;
    height: 580px;
    background-color: #fff;
  } //end of .notice-container
}
