@charset "utf-8";

// Notice
.section.notice {
  min-width: $ly-min-width;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  padding: 142px 0 136px;
  background-color: #000;
  @include bgi("bg-notice");
  background-repeat: repeat-y;
  background-position: 50% 50%;

  .notice-title {
    position: relative;
    display: block;
    margin-bottom: 70px;
    color: #fff;
    @include font-sub(800);
    text-transform: uppercase;
    font-size: 59px;

    .item-line {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      height: 9px;
      background-color: #f9fafa;
      content: "";
      width: 0;
      opacity: 0;
      transition: width 0.6s, opacity 0.6s;

      &.item-show {
        width: 320px;
        opacity: 1;
        transition: width 0.6s, opacity 0.6s;

        & + .quote {
          opacity: 1;
          transition: opacity 0.65s;
          transition-delay: 0.7s;
        }
      }
    }

    .quote {
      position: absolute;
      display: block;
      bottom: 10px;
      right: -114px;
      width: 19px;
      height: 27px;
      @include bgi("icon-quotes");
      content: "";
      opacity: 0;
      transition: opacity 0.6s;
    }
  }

  .notice-container {
    //그누보드 영역
    width: 1200px;
    height: 580px;
    background-color: #fff;
  } //end of .notice-container
}
