@charset "utf-8";

// Notice
.section.notice {
  min-width: $ly-min-width;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  padding: 142px 0 136px;
  background-color: #000;
  @include bgi("bg-notice");
  background-repeat: repeat-y;
  background-position: 50% 50%;

  .notice-title {
    position: relative;
    display: block;
    margin-bottom: 70px;
    color: #fff;
    @include font-sub(800);
    text-transform: uppercase;
    font-size: 59px;

    .item-line {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      height: 9px;
      background-color: #f9fafa;
      content: "";
      width: 0;
      opacity: 0;
      transition: width 0.6s, opacity 0.6s;

      &.item-show {
        width: 320px;
        opacity: 1;
        transition: width 0.6s, opacity 0.6s;

        & + .quote {
          opacity: 1;
          transition: opacity 0.65s;
          transition-delay: 0.7s;
        }
      }
    }

    .quote {
      position: absolute;
      display: block;
      bottom: 10px;
      right: -114px;
      width: 19px;
      height: 27px;
      @include bgi("icon-quotes");
      content: "";
      opacity: 0;
      transition: opacity 0.6s;
    }
  }

  .notice-container {
    //그누보드 영역
    width: 1200px;
    height: 580px;
    background-color: #fff;
  } //end of .notice-container
}

//.page_notice
// 기존꺼 우선 그대로 가져옴
.notice-area {
  height: 100%;
  overflow-y: scroll;

  .notice_list {
    position: relative;
    width: 90%;
    margin: 0 auto -1px;
    font-size: 1.3rem;
    text-align: left;
    background-color: #fafafa;

    input[type="radio"] {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }

    label {
      display: block;
      position: relative;
      padding: 0.3rem 1.5rem 0.3rem 1.5rem;
      line-height: 3;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      transition: background-color 0.3s;
    }

    .noti_content {
      max-height: 0;
      padding: 0 1.5rem;
      overflow: hidden;
      transition: background-color 0.3s,
        max-height 0.6s cubic-bezier(0.42, 0, 0, 0.88);

      .date {
        display: block;
        padding: 3rem 0 2rem 0;
        font-size: 1.1rem;
        letter-spacing: -0.02rem;
        color: #bfbfbf;
        text-align: right;
      }

      .text {
        padding-top: 2rem;

        p {
          display: block;
          margin: 0.8rem 0;
        }
      }
    }

    input[type="radio"]:checked + label {
      font-weight: bold;
      //color: #0399ff;
      border-top: 1px solid #d0d0d0;
      border-bottom: 1px solid #d0d0d0;
      background-color: #f2f2f2;
      transition: background-color 0.3s;
    }

    input[type="radio"]:checked ~ .noti_content {
      max-height: 1200px;
      background-color: #f2f2f2;
      transition: background-color 0.3s,
        max-height 0.6s cubic-bezier(0.42, 0, 0, 0.88);
    }
  } //end of .notice_list
}

.notice-pagination {
  position: relative;
  margin: 38px auto 30px;
  text-align: center;

  a {
    display: inline-block;
    padding: 2px 4px;
    margin-right: 4px;
    font-weight: $fw-b;
    font-size: 16px;
    color: #393939;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      color: #fff;
    }
    &.btn_prev {
      background-image: url(../images/page_ico.png);
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 12px;
    }
    &.btn_next {
      background-image: url(../images/page_2_ico.png);
      background-position: center;
      background-repeat: no-repeat;
      margin-left: 12px;
    }
  }
}
