@charset "utf-8";

// Notice
.section.notice {
  min-width: $ly-min-width;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  padding: 142px 0 136px;
  background-color: #000;
  @include bgi("bg-notice");
  background-repeat: repeat-y;
  background-position: 50% 50%;

  .notice-title {
    position: relative;
    display: block;
    margin-bottom: 70px;
    color: #fff;
    @include font-sub(800);
    text-transform: uppercase;
    font-size: 59px;

    .item-line {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      height: 9px;
      background-color: #f9fafa;
      content: "";
      width: 0;
      opacity: 0;
      transition: width 0.6s, opacity 0.6s;
      transition-delay: 0.4s;

      &.item-show {
        width: 320px;
        opacity: 1;
        transition: width 0.6s, opacity 0.6s;
        transition-delay: 0.4s;

        & + .quote {
          opacity: 1;
          transition: opacity 0.65s;
          transition-delay: 1.1s;
        }
      }
    }

    .quote {
      position: absolute;
      display: block;
      bottom: 10px;
      right: -114px;
      width: 19px;
      height: 27px;
      @include bgi("icon-quotes");
      content: "";
      opacity: 0;
      transition: opacity 0.6s;
    }
  }

  .notice-container {
    //그누보드 영역
    overflow: hidden;
    width: 1200px;
    height: 580px;
    // padding: 40px 56px 0;
    // padding: 0 56px;
    box-sizing: border-box;
    background-color: #fff;
  } //end of .notice-container
}

//.page_notice
// 기존꺼 우선 그대로 가져옴
.notice-area {
  overflow-y: scroll;
  height: 100%;
  padding-top: 40px;

  ///// 스크롤 숨김 처리 시, 아래 주석화 제거
  // width: 1230px;
  // padding-right: 15px; //JS로 조절 예정

  .notice-list {
    position: relative;
    width: 1110px;
    margin: 0 auto -1px;
    padding-left: 16px;
    text-align: left;

    //리스트 넘버
    &:before {
      position: absolute;
      top: 26px;
      left: 20px;
      display: block;
      width: 31px;
      height: 31px;
      content: "";
      background-color: #eee;
      border-radius: 50%;
    }

    .list-num {
      position: absolute;
      top: 26px;
      left: 14px;
      display: block;
      @include font-sub(800);
      color: #333;
      font-size: 15px;
      content: attr(data-notice-index);
    }

    .notice-radio {
      //클릭을 위한 라디오 영역
      position: absolute;
      opacity: 0;
      z-index: -1;
    }

    .noti-title {
      //제목
      display: block;
      position: relative;
      height: 84px;
      padding-top: 0;
      padding-left: 44px;
      padding-right: 120px;
      line-height: 84px;
      color: #323232;
      font-size: 20px;
      font-weight: $fw-eb;
      @include ellipsis;
      transition: border-color 0.3s, padding-top 0.3s;
      cursor: pointer;

      &:before,
      &:after {
        position: absolute;
        top: 0px;
        left: 0;
        display: block;
        content: "";
        height: 4px;
      }

      &:before {
        width: 100%;
        background-color: #f1f1f1;
      }

      &:after {
        width: 0%;
        background-color: #000;
      }

      .date {
        //날짜
        position: absolute;
        top: 0;
        right: 20px;
        display: block;
        font-size: 14px;
        color: #000;
        text-align: right;
        font-weight: 400;
      }
    }

    .noti-content {
      overflow: hidden;
      max-height: 0;
      padding-top: 0;
      padding-left: 44px;
      transition: max-height 0.6s cubic-bezier(0.42, 0, 0, 0.88),
        padding-top 0.3s;

      .text {
        margin-bottom: 50px;
        p {
          display: block;
          line-height: 1.4;
          margin-top: 10px;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }

    .notice-radio:checked + .noti-title {
      //활성화 시의 제목
      // border-top: 4px solid #000000;
      transition: border-color 0.3s;
      padding-top: 20px;
      transition: padding-top 0.3s 0.1s;

      &:after {
        width: 100%;
        background-color: #000;
        transition: width 0.4s 0.1s;
      }
    }

    .notice-radio:checked ~ .noti-content {
      //활성화 시의 컨텐츠
      max-height: 1200px;
      padding-top: 20px;
      transition: max-height 0.6s cubic-bezier(0.42, 0, 0, 0.88),
        padding-top 0.3s 0.1s;
    }
  } //end of .notice_list
}

.notice-pagination {
  @include flexbox;
  position: relative;
  margin: 38px auto 30px;
  text-align: center;

  a {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin: 0 2px;
    font-weight: $fw-b;
    font-size: 16px;
    opacity: 0.35;
    color: #fff;
    // color: #393939;
    &:first-child {
      margin-right: 0;
    }
    &.active {
      opacity: 1;
    }
    &.btn-prev {
      overflow: hidden;
      opacity: 1;
      @include bgi("icon-notice-prev");
      background-position: center;
      text-indent: -999px;
      margin-right: 20px;
    }
    &.btn-next {
      overflow: hidden;
      opacity: 1;
      @include bgi("icon-notice-next");
      background-position: center;
      text-indent: -999px;
      margin-left: 20px;
    }
    &:hover {
      opacity: 0.6;
    }
  }
}
