@charset "utf-8";

// Section for Prozeters
.section-proz {
  padding: 296px 0 286px;
  background-color: #040404;
  @include bgi("bg-proz");
  background-position: 50% 50%;

  .section-proz-title {
    width: 270px;
    height: 72px;
    margin: 0 auto;
    text-indent: -9999px;
    overflow-x: hidden;
    background-size: 100%;
    @include bgi("logo-proz");
  }

  .proz-intro {
    text-align: center;
    color: #fff;

    .text-kor {
      margin-top: 54px;
      margin-bottom: 24px;
      font-size: 24px;
      line-height: 1.6;
    }
    .text-eng {
      @include font-sub;
      font-size: 13px;
      line-height: 2;
    }
  } //end of .proz-intro

  .proz-btn-more {
    overflow: hidden;
    width: 200px;
    height: 64px;
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #d0d5dc;
    border-radius: 40px;
    @include font-sub(800);
    height: 100%;
    line-height: 64px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: block;
    font-size: 16px;

    &:hover {
      //버튼 호버 효과
      background-color: rgba(64, 64, 64, 0.71);
      border-color: transparent;
    }
  } //end of .proz-btn-more
}
