@charset "utf-8";

// Section for DSC
.section-dsc {
  min-width: $ly-min-width;
  position: relative;
  padding: 152px 0 570px;
  background-color: #f8f8f8;
  box-sizing: border-box;

  .section-dsc-title {
    width: 220px;
    height: 79px;
    margin: 0 auto;
    text-indent: -9999px;
    overflow-x: hidden;
    background-image: url(#{$path-image}logo-dsc.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .dsc-intro {
    text-align: center;

    .text-kor {
      margin-top: 44px;
      margin-bottom: 36px;
      font-size: 26px;
      line-height: 1.5;
    }
    .text-eng {
      @include font-sub(400);
      font-size: 16px;
      line-height: 1.5;
    }
  } //end of dsc-intro

  .dsc-works {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 400px;
    width: 100%;
    min-width: 1480px;
    height: 500px;
    transform: translateX(-50%);

    .swiper-wrapper {
      // margin-top: calc(-100% + 5px);
    }

    //슬라이드 영역
    .dsc-slide {
      position: absolute;
      left: 50%;
      top: 120px;
      // width: 4000px;
      width: 100%;
      height: 480px;
      transform: translateX(-50%);
    }

    .dsc-slide-item {
      // overflow: hidden;
      display: block;
      width: 150px;
      height: 150px;
      width: 340px;
      height: 340px;
      margin-top: 10px;
      transform: scale(0.5);
      left: -80px;
      transition: left 0.58s;

      &.left {
        left: 80px;
      }

      &.active {
        // width: 340px;
        // height: 340px;
        transform: scale(1);
        // margin-right: -10px !important;
        // margin-left: 70px !important;
        margin-top: 0 !important;
        // margin-left: 240px !important;
        // margin-right: 120px !important;
        left: 10px;
        transition: none;

        .img {
          width: 340px;
          box-shadow: 0 10px 35px rgba(0, 0, 0, 0.3);
          -webkit-transform: rotate(720deg);
          -moz-transform: rotate(720deg);
          -ms-transform: rotate(720deg);
          -o-transform: rotate(720deg);
          transform: rotate(720deg);
          will-change: transform;
          transition: all 0.5s;
        }
      }

      &:first-child {
        &.swiper-slide-active {
          // margin-left: 40px !important;
        }
      }

      a {
        // overflow: hidden;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;

        &:active {
          background: none;
        }
      }

      .img {
        display: block;
        position: absolute;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        transition: all 0.5s;
        will-change: transform;
        // top: 50%;
        // left: 50%;
        // width: 200%;
        // height: auto;
        // transform: translate(-50%, -50%);
        // display: block;box-shadow: 0 10px 35px rgba(0,0,0,0.3);
      }
    }

    .btn_link {
      cursor: default;
      display: block;
      width: 150px;
      height: 150px;
      position: relative;
      float: left;
      margin-right: 50px;
      margin-bottom: 260px;
      border-radius: 50%;
      overflow: hidden;

      // .img-container {
      //   position: relative;
      // }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200%;
        height: auto;
        transform: translate(-50%, -50%);
        display: block;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }

      &.active {
        left: 0px;
        top: -94px;
        width: 340px;
        height: 340px;
        box-shadow: 0 10px 35px rgba(0, 0, 0, 0.3);
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        -ms-transform: rotate(720deg);
        -o-transform: rotate(720deg);
        transform: rotate(720deg);
        img {
        }
      }
    }
  }
}
