@charset "utf-8";

// Section for DSC
.section-dsc {
  min-width: $ly-min-width;
  position: relative;
  padding: 152px 0 540px;
  background-color: #f8f8f8;
  box-sizing: border-box;

  .section-dsc-title {
    width: 220px;
    height: 79px;
    margin: 0 auto;
    text-indent: -9999px;
    overflow-x: hidden;
    background-image: url(#{$path-image}logo-dsc.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .dsc-intro {
    text-align: center;

    .text-kor {
      margin-top: 44px;
      margin-bottom: 36px;
      font-size: 26px;
      line-height: 1.5;
    }
    .text-eng {
      @include font-sub(400);
      font-size: 16px;
      line-height: 1.5;
    }
  } //end of dsc-intro

  .dsc-works {
    position: absolute;
    left: 0;
    bottom: 0;
    outline: 4px solid blueviolet;
  }
}
