@charset "utf-8";

// Service

.section.service {
  //지역변수
  $ly-service-width: 910px;

  position: relative;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  height: 980px;
  background: sandybrown;

  .service-slide-item {
    color: #fff;
    width: $ly-service-width;

    .slide-title {
      @include font-sub(800);
      font-size: 30px;
    }
    .text-kor {
      margin-top: 70px;
      margin-bottom: 44px;
      font-size: 18px;
      line-height: 1.9;
    }
    .text-eng {
      @include font-sub;
      font-size: 13px;
      line-height: 2;
    }
  }

  .service-slide-bottom {
    margin-top: 64px;

    .service-slide-progress {
      position: absolute;
      width: 100vw;
      height: 1px;
      background-color: #484848;

      .line {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        transform: scaleX(0.1);
        transform-origin: 0 0;
        background-color: rgba(255, 255, 255, 0.8);
      }
    }

    .service-slide-utils {
      width: $ly-service-width;
      @include flexbox;
      @include justify-content(space-between);
      @include align-items(center);
      margin-top: 30px;
    }

    .utils-pagination {
      @include flexbox;

      p {
        &:first-child {
          position: relative;
          margin-right: 44px;

          &:after {
            position: absolute;
            top: 8px;
            left: 26px;
            width: 6px;
            height: 3px;
            display: block;
            background-color: #575757;
            content: "";
          }
        }
      }
    }

    em {
      display: block;
      visibility: hidden;
      width: 0;
      height: 0;
      opacity: 0;
    }

    .pagination-text {
      @include font-sub(800);
      color: #fff;
      font-size: 16px;
    }

    .utils-buttons {
      @include flexbox;

      button {
        display: block;
        overflow-x: hidden;
        width: 20px;
        height: 20px;
        margin-left: 2px;
        text-indent: -9999px;
        background-color: #6f6c6a;
        // background-image: url(asdf); //TODO: 추가예정

        &:first-child {
          margin-left: 2px;
        }

        &:focus {
          outline: 0;
        }

        &:focus,
        &:hover {
          opacity: 0.7; //TODO: 임시
        }
      }
    }
  } //end of .service-slide-bottom
}
