@charset "utf-8";

// Service

.section.service {
  position: relative;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  height: 980px;
  background: sandybrown;

  .service-slide-item {
    color: #fff;
    width: 902px;

    .slide-title {
      @include font-sub(800);
      font-size: 30px;
    }
    .text-kor {
      margin-top: 70px;
      margin-bottom: 44px;
      font-size: 18px;
      line-height: 1.9;
    }
    .text-eng {
      @include font-sub;
      font-size: 13px;
      line-height: 2;
    }
  }

  .service-slide-bottom {
    margin-top: 86px;
    outline: 2px solid red;

    .service-slide-utils {
      width: 902px;
      @include flexbox;
      @include justify-content(space-between);
      @include align-items(center);
    }

    .utils-pagination {
      @include flexbox;

      p {
        &:first-child {
          position: relative;
          margin-right: 44px;

          &:after {
            position: absolute;
            top: 8px;
            left: 26px;
            width: 6px;
            height: 3px;
            display: block;
            background-color: #575757;
            content: "";
          }
        }
      }
    }

    em {
      display: block;
      visibility: hidden;
      width: 0;
      height: 0;
      opacity: 0;
    }

    .pagination-text {
      @include font-sub(800);
      color: #fff;
      font-size: 16px;
    }

    .utils-buttons {
      @include flexbox;

      button {
        display: block;
        overflow-x: hidden;
        width: 20px;
        height: 20px;
        margin-left: 2px;
        text-indent: -9999px;
        background-color: #6f6c6a;
        // background-image: url(asdf); //TODO: 추가예정

        &:first-child {
          margin-left: 2px;
        }
      }
    }
  } //end of .service-slide-bottom
}
