@charset "utf-8";

// Service

.section.service {
  //////////////
  //지역변수
  $ly-service-width: 910px;
  /////////////

  overflow: hidden;
  position: relative;
  width: 100%;
  height: 980px;

  .service-slide {
    width: 100%;
    height: 100%;
  }

  .service-slide-item {
    width: 100%;
    height: 100%;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    background-size: cover;
    background-position: 50% 50%;

    &:after {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      content: "";
    }

    .slide-container {
      position: relative;
      z-index: $z-service-slide-container;
      color: #fff;
      width: $ly-service-width;
      margin-bottom: 64px;
    }

    .slide-title {
      @include font-sub(800);
      font-size: 30px;
    }
    .text-kor {
      margin-top: 70px;
      margin-bottom: 44px;
      font-size: 18px;
      line-height: 1.9;
    }
    .text-eng {
      @include font-sub;
      font-size: 13px;
      line-height: 2;
    }

    @for $i from 1 through 6 {
      //background image
      &[data-order="#{$i}"] {
        background-image: url(#{$path-image}bg-service-#{$i}.png);
      }
    }
  }

  .service-slide-bottom {
    position: absolute;
    bottom: 210px;
    left: 50%;
    transform: translateX(-50%);

    .service-slide-progress {
      position: absolute;
      width: 100vw;
      height: 1px;
      background-color: #484848;

      .line {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        transform: scaleX(0.1);
        transform-origin: 0 0;
        background-color: rgba(255, 255, 255, 0.8);
      }
    }

    .service-slide-utils {
      width: $ly-service-width;
      @include flexbox;
      @include justify-content(space-between);
      @include align-items(center);
      margin-top: 30px;
    }

    .utils-pagination {
      @include flexbox;

      p {
        &:first-child {
          position: relative;
          margin-right: 44px;

          &:after {
            position: absolute;
            top: 8px;
            left: 26px;
            width: 6px;
            height: 3px;
            display: block;
            background-color: #575757;
            content: "";
          }
        }
      }
    }

    em {
      display: block;
      visibility: hidden;
      width: 0;
      height: 0;
      opacity: 0;
    }

    .pagination-text {
      @include font-sub(800);
      color: #fff;
      font-size: 16px;
    }

    .utils-buttons {
      @include flexbox;

      button {
        display: block;
        overflow-x: hidden;
        width: 20px;
        height: 20px;
        margin-left: 2px;
        text-indent: -9999px;
        background-color: #6f6c6a;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        opacity: 0.3; //TODO: 임시

        &:first-child {
          margin-left: 2px;
          background-image: url(#{$path-image}icon-service-slide-prev.png);
        }

        &:last-child {
          background-image: url(#{$path-image}icon-service-slide-next.png);
        }

        &:focus {
          outline: 0;
        }

        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }
  } //end of .service-slide-bottom
}
