@charset "utf-8";

// Visual

.section.visual {
  .visual-container {
    position: relative;
    // position: fixed;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    width: 100%;
    height: 980px;
    overflow: hidden;
    min-width: 1480px;
  }

  .visual-title-container {
    // position: absolute;
    // width: 100vw;
    // height: 100%;
    // top: 0;
    // left: 0;
    // min-width: 1140px;
  }

  .visual-title {
    // diversify your taste
    z-index: $z-visual-title;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    @include font-sub(800);
    font-size: 50px;
    text-transform: uppercase;
    transform: translate(-50%, -50%);

    span {
      //텍스트(3개)
      position: relative;
      display: block;
      font-size: 68px;
      line-height: 1.76;
      cursor: default;
      @include select-none;
      @include pointer-none;

      i {
        //밑줄 선
        display: block;
        position: absolute;
        bottom: 16px;
        left: 6px;
        height: 10px;
        background-color: #f9fafa;
        content: "";
      }

      &:first-child > i {
        width: 374px;
      }

      &:nth-child(2) > i {
        width: 201px;
      }

      &:nth-child(3) > i {
        width: 374px;
      }

      .quote {
        position: absolute;
        display: block;
        bottom: 25px;
        right: -35px;
        width: 22px;
        height: 30px;
        @include bgi("icon-quotes");
        content: "";
      }
    }
  }

  .visual-slide {
    //슬라이드 영역
    position: relative;
    width: 100%;
    height: 100%;
    @include pointer-none;
    @include select-none;

    &:after {
      //비주얼 전체 dim
      z-index: $z-visual-dim;
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.65);
      @include pointer-none;
      @include select-none;
    }

    .visual-slide-item {
      @for $i from 1 through 4 {
        //background image
        &[data-order="#{$i}"] {
          background-image: url(#{$path-image}visual/bg-visual-#{$i}.png);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    } //end of .visual-slide-item

    .visual-slide-pagination {
      z-index: $z-visual-slide-pagination;
      @include flexbox;
      @include justify-content(center);
      position: absolute;
      bottom: 80px;
      left: 0;

      .swiper-pagination-bullet {
        display: block;
        width: 14px;
        height: 14px;
        background-color: #fff;
        opacity: 0.25;
        border-radius: 50%;
        cursor: pointer;

        &:focus,
        &:hover {
          outline: 0;
          opacity: 0.5;
        }
      }

      .swiper-pagination-bullet-active {
        opacity: 1 !important;
      }
    }
  } //end of .visual-slide
}

.visual-sub {
  display: none; //TODO 임시
  // position: absolute;
  z-index: 100;
  position: relative;
  width: 100%;
  height: 980px;
  margin-bottom: 980px;
  overflow: hidden;
  min-width: 1480px;
  transform: translateY(100%);

  .visual-text-container {
    //오버랩되는 텍스트 영역
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    // z-index: $z-visual-text;
    // position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);

    // .visual-text-grid {
    //   position: absolute;
    //   min-width: 620px;
    // }

    p {
      color: #fff;
      text-align: center;

      &:first-child {
        margin-bottom: 60px;
      }
    }

    .text-kor {
      font-size: 28px;
      line-height: 1.9;
    }

    .text-eng {
      font-size: 15px;
      line-height: 1.8;
      @include font-sub;
    }
  }
}

.main {
  position: relative;
  background-color: #fff;
}
