@charset "utf-8";

// **** Animations

// **** fadein animation ****

.animation-fade,
.animation-hide {
  opacity: 0;
  transform: translateY(100px);
  transition: transform 0.5s, opacity 0.8s;
  transition-timing-function: easeInBack;
}

.animation-fade.animation-show,
.animation-hide.animation-show {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.5s, opacity 0.8s;
  transition-timing-function: easeInBack;
}

@mixin popupFadeIn($duration: 0.4s, $delay: 0.1s) {
  opacity: 1;
  transition: opacity #{$duration} #{$delay};
}

@mixin popupFadeOut($duration: 0.4s, $delay: 0.1s) {
  opacity: 0;
  transition: opacity #{$duration} #{$delay};
}
