@charset "utf-8";

// **** VARIABLES ****

// COLOR PALLETE
$colorList: ();

// z-index
$zindex-top: 500;
$zindex-important: 300;
$zindex-fixed: 100;
$zindex-normal: 10;

// path
$path-image: "../images/";
$path-font: "../fonts/";
