@charset "utf-8";

// **** VARIABLES ****
$ly-min-width: 1480px;
$ly-max-width: 1920px;

// COLOR PALLETE
$colorList: ();

// z-index
$z-header: 10; //헤더
$z-visual-title: 1; //비주얼 타이틀
$z-visual-text: 5; //비주얼 오버랩 텍스트
$z-about-story-title: 1;
$z-about-all-title: 1;
$z-service-slide-container: 1; //서비스 슬라이드 영역 텍스트

// path
$path-image: "../images/";
$path-font: "../fonts/";

// font-weight
$fw-b: 600;
$fw-eb: 800;
