@charset "utf-8";

// common style

html,
body {
  position: relative;
  min-height: 100%;
  height: 100%;
  font-size: 100%;
  @include font-main;
  line-height: 1.3;
  width: 100%;
}

.wrap {
  width: 100%;
  overflow-x: hidden;
  background-color: #fff;
}

.text-hidden {
  overflow-x: hidden;
  text-indent: -9999px;
}

::-moz-selection {
  //color: red;
  background-color: #ffecaf;
}

::selection {
  //color: red;
  background-color: #ffecaf;
}

// .test {
//   .test-visual {
//     width: 100%;
//     height: 980px;
//     background: green;
//     font-size: 50px;
//   }

//   .test-hello {
//     width: 100%;
//     height: 980px;
//     background: #333;
//     font-size: 100px;
//     color: #fff;
//     text-align: center;
//   }

//   .test-about {
//     padding-top: 80px;
//     width: 100%;
//     height: 1300px;
//     background: pink;
//     font-size: 40px;
//   }
// }

// body.test {
//   font-family: sans-serif;
// }

// body.test > div {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: transparent center no-repeat;
//   background-size: cover;
// }

// body.test > div:nth-child(1) {
//   background-image: url(http://placekitten.com/800/600?image=1);
// }

// body.test > div:nth-child(2) {
//   background: #f0f0f0;
//   overflow: hidden;
// }

// body.test > div:nth-child(3) {
//   background-image: url(http://placekitten.com/800/600?image=3);
// }

// .box {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 980px;
//   font-size: 70px;
//   text-align: center;
//   color: #fff;
//   background-color: rgba(17, 82, 126, 0.248);
// }

.test {
  body {
    font-family: sans-serif;
  }

  body > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 980px;
    background: transparent center no-repeat;
    background-size: cover;
  }

  body > div:nth-child(1) {
    background-image: url(http://placekitten.com/800/600?image=1);
  }

  body > div:nth-child(2) {
    background: #f0f0f0;
    overflow: hidden;
  }

  body > div:nth-child(3) {
    background-image: url(http://placekitten.com/800/600?image=3);
  }

  .box {
    position: absolute;
    left: 0;
    height: 100%;
    background: #09f;
  }
}

.item-fade,
.item-hide,
.item-fade-early {
  opacity: 0;
  transform: translateY(100px);
  transition: transform 0.6s, opacity 1s;

  &.item-show {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.6s, opacity 1s;
  }

  &.fade-no-move {
    transform: translateY(0);
  }

  &.fade-delay-1 {
    transition-delay: 0.5s;
  }

  &.fade-delay-2 {
    transition-delay: 0.9s;
  }

  &.fade-delay-3 {
    transition-delay: 1.2s;
  }
}

// .item-fade-inner {
//   //item-fade 영역 내 내부 아이템
//   opacity: 0;
//   transform: translateY(100px);
//   transition: transform 0.6s, opacity 1s;
// }

// .item-show {
//   .item-fade-inner {
//     opacity: 1;
//     transform: translateY(0);
//     transition: transform 0.6s, opacity 1s;
//   }
// }

.noScroll {
  height: 100%;
  overflow: hidden;
}
