@charset "utf-8";

// common style

html,
body {
  position: relative;
  min-height: 100%;
  height: 100%;
  font-size: 100%;
  @include font-main;
  line-height: 1.3;
  width: 100%;
}

.wrap {
  width: 100%;
  overflow-x: hidden;
}

.text-hidden {
  overflow-x: hidden;
  text-indent: -9999px;
}

::-moz-selection {
  //color: red;
  background-color: #ffecaf;
}

::selection {
  //color: red;
  background-color: #ffecaf;
}
