@charset "utf-8";
/*!
  nykim@nykim.net
  18-07-10 19:20
*/

//[1] 변수, 믹스인
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/mediaQueries";
@import "helpers/animations";

//[2] 기본 스타일
@import "base/reset";
@import "base/common";
@import "base/font";

//[3] 모듈
@import "modules/header";

//[4] 레이아웃
@import "layout/visual"; //비주얼
@import "layout/about"; //어바웃
@import "layout/service"; //서비스
@import "layout/section-damu"; //디어뮤즈먼츠 섹션
@import "layout/section-dsc"; //닥터심슨 섹션

//[5] 벤더
