@charset "utf-8";

// Popup
// 모든 팝업창이 공통적으로 사용하는 스타일을 정의합니다.

.popup {
  position: absolute;

  &.popup-show {
    display: block;
  }

  .popup-area {
    z-index: $z-popup-area;
  }

  .popup-contents {
    position: relative;
    // opacity: 0;
    // transition: opacity 1s 0.4s;
  }

  .popup-button-close {
    z-index: 300;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 61px;
    height: 61px;
    @include text-hidden;
    background-color: #000;
    @include bgi("icon-popup-close");
    background-position: 50% 50%;
    background-size: 29px 29px;

    &:hover {
      // opacity: 0.7; //TODO: 임시
    }

    &:focus {
      outline: 0;
      // opacity: 0.7; //TODO: 임시
    }

    &.close-type-2 {
      width: 80px;
      height: 80px;
      background-color: #d0d0d0;
      background-size: 36px 36px;
    }
  } //end of .popup-button-close

  .popup-dim {
    // opacity: 0;
    z-index: $z-popup-dim;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    background-color: rgba(0, 0, 0, 0.77);
    // transition: opacity 0.5s;

    &.hide {
      // display: none;
      z-index: -1000;
    }

    &.popup-show {
      opacity: 1;
      transition: opacity 0.5s;

      .popup-contents {
        opacity: 1;
        transition: opacity 1s 0.4s;
      }
    }
  } //end of .popup-dim

  .popup-buttons {
    width: 100%;

    [class^="popup-button-"] {
      z-index: 10;
      position: absolute;
      top: 50%;
      width: 60px;
      height: 60px;
      background-color: #000;
      box-sizing: border-box;
      border-radius: 50%;
      @include text-hidden;
      transform: translateY(-50%);

      .text-alt {
        visibility: hidden;
        width: 0px;
        height: 0px;
        opacity: 0;
        position: absolute;
        left: -999px;
      }

      .svg {
        display: block;
        width: 26px;
        height: 8px;
        margin: 0 auto;
      }

      &:focus {
        outline: 0;
      }

      &:hover {
        outline: 0;
        background-color: #fff;
        border: 4px solid #323232;

        .svg {
          .cls-1 {
            fill: #323232;
          }
        }
      }
    }

    .popup-button-prev {
      left: -90px;
    }

    .popup-button-next {
      right: -90px;
    }
  } //end of .popup-buttons
}
