@charset "utf-8";

// **** popup_type_1 (흰색 배경 팝업)
// DSC, PROZETERS에서 사용 중

.popup-contents {
  width: 1190px;
  height: 760px;
  padding: 80px 90px;
  background-color: #fff;
  box-sizing: border-box;

  .popup-dsc-top {
  }
}
