@charset "utf-8";

// **** popup_type_1 (DSC용 팝업)

.popup-dsc {
  .popup-slide {
    position: relative;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-between);
    width: 100%;
    height: 100%;
  }

  .popup-dsc-top {
    .title {
      margin-bottom: 30px;
    }

    .title-eng {
      font-size: 16px;
    }

    .title-kor {
      font-size: 48px;
    }

    .desc {
      font-size: 13px;
      line-height: 1.5;
    }
  } //end of .popup-dsc-top

  .popup-dsc-bottom {
    @include flexbox;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;

    .image-container {
      width: 582px;
      margin-right: 40px;

      .img-position {
        overflow: hidden;
        position: absolute;
        left: 0;
        bottom: 0;
        width: auto;
        width: 582px;
        height: 414px;
      }

      img {
        display: block;
        width: auto;
        height: 100%;
      }
    }

    .discography {
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(flex-end);

      .discography-title {
        position: relative;
        display: block;
        margin-top: 4px;
        font-size: 17px;
        color: $color-sub;
        letter-spacing: -1px;
        font-weight: $fw-eb;

        &:before {
          position: absolute;
          top: -4px;
          left: 0;
          display: block;
          width: 10px;
          height: 3px;
          content: "";
          background-color: $color-sub;
        }

        & + .discography-container {
          margin-top: 34;
        }
      } //end of .discography-title

      .discography-container {
        margin-top: 22px;

        & > strong {
          display: block;
          color: $color-sub;
          font-size: 14px;
          margin-bottom: 10px;
        }

        li {
          margin-top: 3px;
          font-size: 12px;
          color: #3f3f41;

          &:first-child {
            margin-top: 0;
          }

          .date {
            color: $color-sub;
            font-weight: 600;
          }
        }
      } //end of .discography-container
    } //end of .discography
  } //end of .popup-dsc-bottom
}
